# julien's files
ok.txt
gcp_credentials.json
departements-france.csv
regions-france.csv

# Alex's files
.DS_Store
app/
covid-api-env
covid_api.py
__pycache__
covid_data.json
departements-francais.csv
Dockerfile
write_to_bq.py
get_regions.py
covid_project_key.json